html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(34, 39, 46);
  color: #E5E5E5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  color: #E5E5E5;
  background-color: #10A913;
  transition: background-color 0.12s ease-in-out;
}
.button:hover, .button:focus {
  background-color: #43B146;
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 60px;
  overflow-x: hidden;
}

#games .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 26.25vw;
  max-height: 422px;
}
#games .container .game {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
#games .container .game::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(34, 39, 46, 0) 0%, rgba(34, 39, 46, 0.72) 79.5%, #22272E 100%);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
#games .container .game:hover::after, #games .container .game:focus::after {
  opacity: 0;
}
#games .container .game-description {
  max-width: 460px;
  min-height: 100%;
  margin: auto;
  border-radius: 24px;
  background-color: rgb(220, 220, 220);
}
#games .container .game-description .banner {
  width: 100%;
  aspect-ratio: 16/6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px 22px 0 0;
  position: relative;
  overflow: hidden;
}
#games .container .game-description .banner::after {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0.7) 79.5%, rgb(220, 220, 220) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}
#games .container .game-description .banner .modal-close-button {
  position: absolute;
  right: 7px;
  top: 14px;
  z-index: 98;
}
#games .container .game-description .text {
  padding: 56px;
}
#games .container .game-description .text p {
  margin: 0;
  color: #22272E;
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 56px 8px;
}
@media (min-width: 768px) {
  #about .container {
    padding-right: 25%;
  }
}
#about .container h1, #about .container p {
  margin: 0;
}
#about .container h1 + p {
  font-weight: 300;
  margin-bottom: 32px;
}

footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 18px;
  padding: 8px 56px 18px;
}
footer .container a {
  display: flex;
}

.modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 28px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.modal.closed {
  display: none;
}
.modal.open {
  display: block;
}
.modal-close-button {
  border: none;
  background: none;
  cursor: pointer;
}
.modal-close-button svg {
  width: 40px;
  height: 40px;
  fill: #000;
  opacity: 0.65;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
